html{
    scroll-behavior:smooth;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#f97316;
    border-radius:20px;
}

.recipe-card img{
    transition:.4s;
}

.recipe-card:hover img{
    transform:scale(1.08);
}