{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="description" content="{% block description %}Delicious dessert recipes with step-by-step instructions.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}dessert, recipes, cakes, cookies, baking, sweets{% endblock %}">
    <meta name="author" content="MAISON EFSUN">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="{{ meta_image }}">

    <meta name="twitter:title" content="{{ meta_title }}">
    <meta name="twitter:description" content="{{ meta_description }}">
    <meta name="twitter:image" content="{{ meta_image }}">


    <title>{% block title %}MAISON EFSUN{% endblock %} | MAISON EFSUN</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
     rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/like_animation.css' %}">

    {% block structured_data %}{% endblock %}

</head>

<body class="bg-gray-50 text-gray-900 min-h-screen flex flex-col pb-16 md:pb-0">

<header class="border-b border-[#E8DCCB] bg-white sticky top-0 z-50">

    <div class="max-w-7xl mx-auto px-6">

        <div class="flex items-center justify-between h-24">

            <!-- Logo -->

            <a href="{% url 'home' %}" class="flex items-center gap-2">

                <!-- Logo -->
                <img src="{% static 'img/logo-2.png' %}"
                     alt="MAISON EFSUN"
                     class="h-20 sm:h-16 lg:h-14 w-auto">

                <!-- Text -->
                <div>

                    <h2 class="brand-title
                               text-2xl
                               sm:text-4xl
                               lg:text-5xl
                               leading-none">

                        MAISON EFSUN

                    </h2>

                    <p class="uppercase
                              tracking-[0.25em]
                              text-[8px]
                              sm:text-[11px]
                              lg:text-xs
                              text-[#B78A3B]
                              mt-1">

                        French Pâtisserie

                    </p>

                </div>

            </a>

            <!-- Desktop Menu -->

            <nav class="hidden lg:flex items-center gap-10">

                <a href="{% url 'home' %}" class="hover:text-[#B78A3B] transition">
                    Home
                </a>

                <a href="{% url 'recipes' %}" class="hover:text-[#B78A3B] transition">
                    Recipes
                </a>

                <a href="{% url 'about' %}" class="hover:text-[#B78A3B] transition">
                    About
                </a>

                {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="hover:text-[#B78A3B] transition">
                    Dashboard
                </a>
                {% endif %}

                {% if user.is_authenticated %}

                    <a href="{% url 'account_logout' %}"
                       class="text-sm font-medium hover:text-orange-500 transition">
                        Logout
                    </a>

                {% else %}

                    <a href="{% provider_login_url 'google' process='login' %}"
                       class="inline-flex items-center gap-2 px-5 py-2 rounded-full
                              bg-black text-white text-sm font-medium
                              hover:bg-gray-800 transition">

                        <i class="fa-brands fa-google"></i>
                        Login with Google

                    </a>

                {% endif %}

            </nav>

            <!-- Right -->

            <div class="flex items-center gap-4">

                {% if user.is_authenticated %}

                    <a href="{% url 'profile' %}"
                       class="hidden lg:flex w-11 h-11 rounded-full bg-[#3B2D26] text-white items-center justify-center font-semibold">

                        {{ user.username|first|upper }}

                    </a>

                {% endif %}

                <!-- Burger -->

                <button id="mobile-btn"
                        class="lg:hidden text-2xl p-2">

                    ☰

                </button>

            </div>

        </div>

    </div>

</header>

<div id="mobile-menu"
     class="hidden lg:hidden bg-white border-b border-[#E8DCCB]">

    <div class="px-6 py-6 space-y-5">

        <a href="{% url 'home' %}" class="block">
            Home
        </a>

        <a href="{% url 'recipes' %}" class="block">
            Recipes
        </a>

        <a href="{% url 'about' %}" class="block">
            About
        </a>


        {% if user.is_authenticated %}

        <a href="{% url 'dashboard' %}" class="block">
            Dashboard
        </a>

        <a href="{% url 'profile' %}" class="block">
            Profile
        </a>

        {% endif %}

    </div>

</div>

<main class="flex-1">

    {% block content %}
    {% endblock %}

</main>

{% include "partials/footer.html" %}

{% include "partials/mobile_nav.html" %}

<script src="{% static 'js/main.js' %}"></script>

</body>
<script>

const btn = document.getElementById("mobile-btn");
const menu = document.getElementById("mobile-menu");

btn.addEventListener("click", () => {
    menu.classList.toggle("hidden");
});

</script>

<!--Website Description-->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",

  "@id": "https://maisonefsun.com/#website",

  "url": "https://maisonefsun.com",

  "name": "MAISON EFSUN",

  "description": "MAISON EFSUN is a modern culinary destination dedicated to homemade baking, elegant desserts, and the timeless inspiration of French pastry. We share carefully tested recipes with step-by-step instructions, practical baking tips, and beautiful photography to help both beginners and experienced home bakers create exceptional desserts. Our mission is to make quality baking accessible to everyone and inspire people to create meaningful moments with family and friends. We believe the best memories begin in the kitchen, and every homemade dessert has the power to bring people together through the joy of sharing.",

  "inLanguage": "en",

  "publisher": {
    "@id": "https://maisonefsun.com/#organization"
  }
}
</script>

<!--Website Owner-->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",

  "@id": "https://maisonefsun.com/#organization",

  "name": "MAISON EFSUN",

  "url": "https://maisonefsun.com",

  "logo": {
    "@type": "ImageObject",
    "url": "https://maisonefsun.com/static/images/logo.png"
  },

  "description": "MAISON EFSUN is an independent culinary brand founded by Arslon Erkinov. Built on a passion for pastry, creativity, and attention to detail, the project combines modern design with carefully crafted recipes and high-quality culinary content. Every recipe published on MAISON EFSUN is created, tested, and reviewed with care to ensure reliable results and an enjoyable baking experience. Our commitment is to inspire home bakers while maintaining the highest standards of quality, authenticity, and creativity. As the brand grows, MAISON EFSUN aims to expand beyond recipes into handcrafted desserts, premium pastry products, and a complete culinary lifestyle experience.",

  "founder": {
    "@id": "https://maisonefsun.com/#author"
  }

}
</script>

<!--Recipe Author-->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",

  "@id": "https://maisonefsun.com/#author",

  "name": "Arslon Erkinov",

  "url": "https://maisonefsun.com/about/",

  "jobTitle": "Founder & Recipe Developer",

  "worksFor": {
    "@id": "https://maisonefsun.com/#organization"
  },

  "description": "All recipes published on MAISON EFSUN are created, tested, and edited by Arslon Erkinov, founder of the project and a passionate home baker. Every recipe is carefully developed, tested, and refined before publication to ensure clear instructions, accurate measurements, and consistently delicious results. From selecting quality ingredients to presenting each dessert beautifully, every detail reflects our commitment to excellence. Our goal is to inspire people around the world to discover the joy of homemade baking and create unforgettable moments through food."
}
</script>

</html>